@model IntroductionToAspMVC.ViewModels.MovieDetailViewModel

<table>
    <tr>
        <td>Title</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Year of release</td>
        <td>@Model.ReleaseDate.Year</td>
    </tr>
    <tr>
        <td>Rating</td>
        <td>@Model.Rating</td>
    </tr>
</table>